# OSX specific
.DS_Store

# Executables are genrated here
bin/

# Documentation is genrated here
docs/

# Often used to generate CMake cache entries
*build*/

# QtCreator store project's preferences and
# rollback data under these suffixes
*.user
*.autosave

# Graphic working directory
resources/work/
